.navbar-fixed-top{
  top: 0px;
}
#home{
  margin: -50px 0px 0px 0px;
  padding: 0px;
  background-image: url("http://pic.4j4j.cn/upload/pic/20150423/41a2d5a1ad.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}
h1{
  font-size:50px;
}
#information{
  background-image: url("http://pic.4j4j.cn/upload/pic/20150609/6f5c7cc13c.jpg");
  background-repeat: no-repeat;
}
#information .block{
  width:500px;
  margin-left:200px;
  margin-right:200px;
  padding-top:50px;
  padding-bottom:50px;
}
#work{
  margin:0px;
  background-image: url("http://img1.3lian.com/2015/w3/63/d/23.jpg");
  background-repeat: no-repeat;
}
#work .block{
  width:500px;
  margin-left:200px;
  margin-right:200px;
  padding-top:70px;
}
#education{
  margin:0px;
  background-image: url("http://pic.4j4j.cn/upload/pic/20150609/6f5c7cc13c.jpg");
  background-repeat: no-repeat;
}
#education .block{
  width:500px;
  margin-left:200px;
  margin-right:200px;
  padding-top:70px;
}
.box{
 padding-top:200px;
 padding-bottom:200px;
}

.img-head{
  height:100px;
}

.text-white{
  color:white;
}
h1.text-white{
  text-shadow: black 2px 2px 5px;
}
text-black{
  color: black;
}
h3.text-black{
  text-shadow: white 1px 1px 3px;
}



#product{
  background-image: url("http://img1.3lian.com/2015/w3/63/d/23.jpg");
  background-repeat: no-repeat;
}
#product .col-md-4{
  margin-bottom:20px;
}

.black-box h3{
  color: white;
}
.black-box h4{
  color: white;
}

.detail-box{
  margin:0px 0px 0px 0px;
  background:	 	#C6E2FF;
  filter: alpha(opacity=45);
}
.prph{
  width: 100%;
  height: 250px;
}
#contact{
  background-image: url("http://image.tianjimedia.com/uploadImages/2013/164/UQ54CVK5Y82W_1440x900.jpg");
  background-repeat: no-repeat;
  
}
#contact h1{
  margin-bottom: 50px;
}
#page-bottom{
  padding:50px 0px 50px 0px;
  background-color:#D0D0D0;
}
