.navbar-fixed-top{
  top: 0px;
}
#home{
  margin: -50px 0px 0px 0px;
  padding: 0px;
  background-image: url("http://pic.4j4j.cn/upload/pic/20150423/41a2d5a1ad.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}
h1{
  font-size:50px;
}
#information{
  margin:0px 0px -10px 0px;
  background-image: url("http://pic.bizhi360.com/bpic/44/1844.jpg");
  background-repeat: no-repeat;
}
#information .block{
  width:500px;
  margin-left:200px;
  margin-right:200px;
  padding-top:50px;
}
#work{
  margin:0px;
  background-image: url("http://pic.bizhi360.com/bpic/44/1844.jpg");
  background-repeat: no-repeat;
}
#work .block{
  width:500px;
  margin-left:200px;
  margin-right:200px;
  padding-top:70px;
}
#education{
  margin:0px;
  background-image: url("http://pic.4j4j.cn/upload/pic/20150609/6f5c7cc13c.jpg");
  background-repeat: no-repeat;
}
#education .block{
  width:500px;
  margin-left:200px;
  margin-right:200px;
  padding-top:70px;
}
.box{
 padding-top:200px;
 padding-bottom:200px;
}

.img-head{
  height:100px;
}

.text-white{
  color:white;
}
h1.text-white{
  text-shadow: black 2px 2px 5px;
}
text-black{
  color: black;
}
h3.text-black{
  text-shadow: white 1px 1px 3px;
}

#about{
  background-image: url("http://www.deskier.com/d/file/zhiwu/2013-07-27/0355c4201fb356e1283dccf1e7b90e61.jpg");
  background-repeat: no-repeat;
}

#about h4{
  line-height:200%;
  color: white;
}

#product{
  background-image: url("http://img.51tietu.net/upload/2013-4/201304261304515865.jpg");
  background-repeat: no-repeat;
}
.black-box h3{
  color: white;
}
.black-box h4{
  color: white;
}

.black-box{
  margin:0px 0px 0px 0px;
  background: black;
  filter: alpha(opacity=45);
}
.prph{
  width: 100%;
  height: 250px;
}
#contact{
  background-image: url("http://image.tianjimedia.com/uploadImages/2013/164/UQ54CVK5Y82W_1440x900.jpg");
  background-repeat: no-repeat;
  
}
#contact h1{
  margin-bottom: 50px;
}
#page-bottom{
  padding:50px 0px 50px 0px;
  background-color:#D0D0D0;
}
