template(name='epe')
  +enavbar
  .blueTheme
    h1 Personal Experience
  .container
      .col-md-9
        .contents
          h2(id='we').page-header Work Experience
          .row
            dl.dl-horizontal 
              dt Time Period
              dd since 2013 till now 
              dt Company
              dd Guangzhou Ailibi Management Consultant  Company
              dt Industry
              dd Internet Medical & Professional Services
              dt Company Size
              dd Below 50 person
              dt Company Type
              dd Private Company
              dt Job Title
              dd Project Manager
              dt Work Result
              dd
                ol
                  li Management consulting projects ：the Performance Project at The People's Hospital of Xianju,  the Performance Project at the First People's Hospital of Qingyuan,  the Culture Project at The Second People's Hospital of Qingyuan,  the Branding Project at The Foshan Hospital of Traditional Chineese Medicine
                  li Online projects：Healthcare Quality-Share Platform, which helps hospital managers manage their hospital in terms of the healthcare quality and patient safety
              dt Specialisations
              dd Companies and projects about the crossover between Health / healthcare  industry and internet
              dt Qualifications
              dd 
                ol
                  li Background about crossover
                    ul
                      li Since I practiced at Guangdong Hospital of Traditional Chineese Medicine, and got the degree in Medicine , I'm familiar with the work at a hospital
                      li  I study management knowledge and accumulate experience through the management consulting projects
                      li I joined the projects to the different levels hospital, so that I know something about the present situation of different levels hospital
                      li I study programming languages such as CSS, JQuery, and Python.
                  li Experience in crossover
                    ul
                      li Built the Healthcare Quality-Share Platform,  which is the crossover product between hospital management consultant and internet
                      li Leading a team to desigh the data management platform and the new online product



      .col-md-3
        nav.bs-docs-sidebar.hidden-print.hidden-xs.hidden-sm.affix-top 
          ul.nav.bs-docs-sidenav
            li
              a(href="#we") ★Work Experience