template(name='pe')
  +navbar
  .blueTheme
    h1 经历
  .container
      .col-md-9
        .contents
          h2(id='we').page-header 工作经验
          .row
            dl.dl-horizontal 
              dt 时间阶段
              dd 2013至今 
              dt 公司
              dd 广州艾力彼管理顾问有限公司
              dt 方向
              dd 数字医疗和管理咨询
              dt 公司规模
              dd 50人以下
              dt 公司类型
              dd 民营企业
              dt 职位
              dd 项目经理
              dt 工作成果
              dd
                ol
                  li 完成管理咨询项目有：仙居人民医院绩效项目、清远市人民医院绩效项目、清远市第二人民医院文化项目、佛山市中医院品牌项目
                  li 完成的线上产品：HQ-share医疗质量与患者安全共享平台，为医院管理者提供辅助管理服务 
              dt 就职方向
              dd 大健康产业/医疗产业与互联网的跨界融合公司及项目
              dt 胜任条件
              dd 
                ol
                  li 拥有跨界背景
                    ul
                      li 医学硕士，在广东省中医院实习2年，有一定的临床检验，且对医院系统比较熟悉
                      li 在现公司学习了管理知识，参与了管理咨询项目，积累了管理经验
                      li 在现公司参与各个项目到过各等级医院，对不同层次医院的情况都有了解
                      li 前后学习了基本的CSS、JQuery、Python等编程语言
                  li 拥有跨界经验
                    ul
                      li 建立了HQ-share线上医院辅助管理系统
                      li 正带领团队设计数据管理平台及新的线上产品
                    



      .col-md-3
        nav.bs-docs-sidebar.hidden-print.hidden-xs.hidden-sm.affix-top 
          ul.nav.bs-docs-sidenav
            li
              a(href="#we") ★工作经验