template(name='pe')
  +navbar
  .blueTheme
    h1 经历
  .container
      .col-md-9
        .contents
          h2(id='we').page-header 工作经验
          .row
            dl.dl-horizontal 
              dt 时间阶段
              dd 2013至今 
              dt 公司
              dd 广州艾力彼管理顾问有限公司
              dt 方向
              dd 数字医疗和管理咨询
              dt 公司规模
              dd 50人以下
              dt 公司类型
              dd 民营企业
              dt 职位
              dd 副经理
              dt 工作描述
              dd 
                ul
                  li 胜任条件
                    



      .col-md-3
        nav.bs-docs-sidebar.hidden-print.hidden-xs.hidden-sm.affix-top 
          ul.nav.bs-docs-sidenav
            li
              a(href="#we") ★工作经验