template(name='pe')
  +navbar
  .blueTheme
    h1 经历
  .container
      .col-md-9
        .contents
          h2(id='we').page-header 工作经验
          .row
            dl.dl-horizontal 
              dt 时间阶段
              dd 2013至今 
              dt 公司
              dd 广州艾力彼管理顾问有限公司
              dt 方向
              dd 数字医疗和管理咨询
              dt 公司规模
              dd 50人以下
              dt 公司类型
              dd 民营企业
              dt 职位
              dd 
                ol 
                  li 产品项目经理  
                    ul 
                      li 提供医院及编程技术支持，根据公司或上级对各个线上平台的期望和要求，架构设计医院管理平台HQ-Share（建成）及其他平台（在建）框架，包括基本的页面内容及后台功能。
                      li 责与程序员沟通，监管平台搭建及测试。
                      li 负责与项目相关事项的跨部门及外部协调与处理。
                      li 辅导内部员工平台的使用要点，设计平台的宣传文等。
                      li 负责优化平台相关工作。 
                  li 咨询项目经理
                    ul 
                      li 负责与客户沟通其需求，建项目建议书。
                      li 负责编制项目实施计划，合理分配项目成员工作，协调资源并按计划推进实施工作，按时按质交付实施成果。
                      li 负责咨询项目中的调研、数据分析、报告撰写、报告汇报演讲解读等工作。
                      li 执行公司或上级交付的其他工作。
                  li 董事长助理
                    ul 
                      li 参与公司发展规划、业务经营计划的编制和公司重大决策的讨论。
                      li 收集各种相关信息、数据、情报，为董事长决策提供参考、建议。
                      li 在授权范围内协助董事长进行商务谈判，做好各项汇报、联络工作。
                      li 在董事长授权范围内代表董事长参加外部会议，如学术会议、协会代表会议等。
                      li 完成董事长交代的其他工作任务。
              dt 工作成果
              dd
                ol
                  li 完成管理咨询项目有：仙居人民医院绩效项目、清远市人民医院绩效项目、清远市第二人民医院文化项目、佛山市中医院品牌项目
                  li 完成的线上产品：HQ-share医疗质量与患者安全共享平台，为医院管理者提供辅助管理服务 
              dt 就职方向
              dd 大健康产业/医疗产业与互联网的跨界融合公司及项目
              dt 胜任条件
              dd 
                ol
                  li 拥有跨界背景
                    ul
                      li 医学硕士，在广东省中医院实习2年，有一定的临床检验，且对医院系统比较熟悉
                      li 在现公司学习了管理知识，参与了管理咨询项目，积累了管理经验
                      li 在现公司参与各个项目到过各等级医院，对不同层次医院的情况都有了解
                      li 前后学习了基本的CSS、JQuery、Python等编程语言
                  li 拥有跨界经验
                    ul
                      li 建立了HQ-share线上医院辅助管理系统
                      li 正带领团队设计数据管理平台及新的线上产品
          h2(id='se').page-header 教育经历
          .row 
            dl.dl-horizontal 
              dt 2006.09~2011.07
              dd 广州中医药大学
              dd 本科
              dt 2011.09-2013.07
              dd 广州中医药大学
              dd 硕士
          h2(id='ps').page-header 成品展示
          .row 
            form.form-horizontal
              .form-group
                label.col-sm-5 HQ-share医疗质量与患者安全共享平台
                .col-sm-4 
                  a(href="www.hq-share.com") www.hq-share.com



      .col-md-3
        nav.bs-docs-sidebar.hidden-print.hidden-xs.hidden-sm.affix-top 
          ul.nav.bs-docs-sidenav
            li
              a(href="#we") ★工作经验
              a(href="#se") ★教育经历
              a(href="#ps") ★成品展示
              a(href="#top")  ^ 返回顶部