template(name='pe')
  .blueTheme
    h1 Personal Experience
  .container
      .col-md-9
        .contents
          h2(id='we').page-header Work Experience
          .row
            dl.dl-horizontal 
              dt Time Period
              dd since 2013 till now 
              dt Company
              dd Guangzhou Ailibi Management Consultant  Company
              dt Industry
              dd Internet Medical & Professional Services
              dt Company Size
              dd Below 50 person
              dt Company Type
              dd Private Company
              dt Job Title
              dd Assistant Manager
              dt Job Description
              dd 
                ul
                  li Competent Advantages
                    



      .col-md-3
        nav.bs-docs-sidebar.hidden-print.hidden-xs.hidden-sm.affix-top 
          ul.nav.bs-docs-sidenav
            li
              a(href="#we") ★Work Experience