template(name='epc')
  +enavbar
  .pc
    .buttonDiv
      .col-md-3
        button#LearningAbility.magicButton Learning Ability
        button#Positive.magicButton Positive
      .col-md-6
        p#ballText.text-center 
          strong Click
      .col-md-3
        .TVtext
          p.hide.LearningAbility I've studied the basic of the css, meteor, and some of jqury less than a year, while keeping the othor job at the same time.
          p.hide.Positive I always stay positive and try my best.
          p.hide.
