template(name='epc')
  +enavbar
  .pc
    .buttonDiv
      .col-md-2
        button#LearningAbility.magicButton.btn Learning Ability
        button#Positive.magicButton.btn Positive
      .col-md-8
        p.button-hints ←Click these buttons
        p#ballText.text-center 
          strong Let me fully display my talents
        .TVtext
          p.text-center.hide.LearningAbility I've studied the basic of the css, meteor, and some of jqury less than a year, while keeping the othor job at the same time.
          p.text-center.hide.Positive I always stay positive and try my best.
          p.hide.
