template(name='pc')
  +navbar
  .pc
    .buttonDiv
      .col-md-2
        button#LearningAbility.magicButton.btn 学习能力
        button#Positive.magicButton.btn 乐观积极
      .col-md-8
        p#ballText-c.text-center.text-chineese 
          strong 点击左方按钮
        .TVtext
          p.text-center.LearningAbility 我在不到一年的时间内，顺利完成3个咨询项目及HQ-share的工作之余，还掌握了基本的 css语言及 meteor框架, 还学习了部分 jqury .
          p.hide.text-center.Positive 我经常保持积极乐观的态度，尽力做好工作
          p.hide.
      .col-md-2
        
