template(name='gt')
  .theme
    h1 Growth Tree
  .imgPossition 
    img.center-block.img-circle.imgSize(src='http://www.tucoo.com/vector/JapB_Akachan/s/CCA316s.jpg' alt='Responsive image')
    h4.text-center Born in 1987    
    h4.text-center ▼
    img.center-block.img-circle.imgSize(src='http://ccksb.img44.wal8.com/img44/499357_20141029153158/14296054335.jpg' alt='Responsive image')
    h4.text-center  Graduated form Guangdong Guangya Middle School in 2006
    h4.text-center ▼
    img.center-block.img-circle.imgSize(src='http://ccksb.img44.wal8.com/img44/499357_20141029153158/142959510205.jpg')
    h4.text-center  Studied at Guangzhou Universty of Chineese Medicine  form 2006 to 2013
    h4.text-center ▼
    img.center-block.img-circle.imgSize(src='http://a4.att.hudong.com/35/77/01300000245029123640778573543.jpg' alt='Responsive image')
    h4.text-center  Studied at Southern Medincal University as the exchange students from 2006 to 2008 
    h4.text-center ▼
    img.center-block.img-circle.imgSize(src='http://ccksb.img44.wal8.com/img44/499357_20141029153158/142960543295.jpg' alt='Responsive image')
    h4.text-center  Practiced at Guangdong Hospital of Traditional Chineese Medicine
    h4.text-center ▼
    img.center-block.img-circle.imgSize(src='http://www.ailibi.com/data/upload/54dad45138264.png' alt='Responsive image')
    h4.text-center  Worked at Ailibi since 2013 till now
    h4.text-center ▼
    img.center-block.img-circle.imgSize(src='http://ccksb.img44.wal8.com/img44/499357_20141029153158/14296079822.jpg')
    h4.text-center  Joinde the programme about performance at The people's Hospital of Xianju at 2013, leaded by team leader Jim
    h4.text-center ▼
    img.center-block.img-circle.imgSize(src='http://ts1.mm.bing.net/th?&id=JN.UxbPWdr1tmAwiN1PhAtBAQ&w=300&h=300&c=0&pid=1.9&rs=0&p=0' alt='Responsive image')
    h4.text-center  Joined the programme about performance at The first people's Hospital of Qingyuan at 2014, leaded by team leader Jim 
    h4.text-center Finished the diagnosis report independently, and assisted to complete the Project Report
    h4.text-center ▼
    img.center-block.img-circle.imgSize(src='http://ccksb.img44.wal8.com/img44/499357_20141029153158/142959908583.jpg')
    h4.text-center  Joined the programme about performance at The second people's Hospital of Qingyuan at 2014, leaded by team leader Jim 
    h4.text-center Finished the diagnosis report independently, and assisted to complete the Project Report
    h4.text-center ▼
    img.center-block.img-circle.imgSize(src='http://ccksb.img44.wal8.com/img44/499357_20141029153158/142959908777.jpg' alt='Responsive image')
    h4.text-center  Joined the programme about Branding at The Foshan Hospital of Traditional Chineese Medicine at 2014, leaded by team leader Jim 
    h4.text-center Finished and reported the diagnosis report independently, and assisted to complete the Project Report
    h4.text-center ▼
    img.center-block.img-circle.imgSize(src='http://www.devworx.in/assets/css3.jpg' alt='Responsive image')
    h4.text-center  Kept learning the programming language from 2014 ,including meteor html5 bootstrap jquery
    h4.text-center ▼
    img.center-block.img-circle.imgSize(src='http://img838.ph.126.net/153-L0RB78dGlV8HBhq8bA==/818529232275678069.jpg' alt='Responsive image')
    h4.text-center  Designed the Structure of HQ-Share, and  help Asiainfo complete it as a cooperation  
    h4.text-center ▼
    //img.center-block.img-circle.imgSize(src='http://img838.ph.126.net/153-L0RB78dGlV8HBhq8bA==/818529232275678069.jpg' alt='Responsive image')
    //h4.text-center  Designed the Structure of HQ-Share, and  help Asiainfo complete it as a cooperation  
    //h4.text-center ▼
    img.center-block.img-circle.imgSize(src='http://yq.0577job.com/files/o/attach/xupload/month_1206/201206021653187997.jpg' alt='Responsive image')
    h4.text-center  Now I'm waiting for you
  .theme   