template(name='gt')
  +navbar
  .theme
    h1 成长
  .imgPossition 
    img.center-block.img-circle.imgSize(src='http://www.tucoo.com/vector/JapB_Akachan/s/CCA316s.jpg' alt='Responsive image')
    h4.text-center 1987出生    
    h4.text-center ▼
    img.center-block.img-circle.imgSize(src='http://ccksb.img44.wal8.com/img44/499357_20141029153158/14296054335.jpg' alt='Responsive image')
    h4.text-center  2006年毕业于广东广雅中学
    h4.text-center ▼
    img.center-block.img-circle.imgSize(src='http://ccksb.img44.wal8.com/img44/499357_20141029153158/142959510205.jpg')
    h4.text-center  2013毕业于广州中医药大学
    h4.text-center ▼
    img.center-block.img-circle.imgSize(src='http://a4.att.hudong.com/35/77/01300000245029123640778573543.jpg' alt='Responsive image')
    h4.text-center  2006-2008在南方医科大学作交流学习 
    h4.text-center ▼
    img.center-block.img-circle.imgSize(src='http://ccksb.img44.wal8.com/img44/499357_20141029153158/142960543295.jpg' alt='Responsive image')
    h4.text-center  2011-2013在广东省中医院实习
    h4.text-center ▼
    img.center-block.img-circle.imgSize(src='http://ccksb.img44.wal8.com/img44/499357_20141029153158/142959510205.jpg' alt='Responsive image')
    h4.text-center  2013年获得中医学硕士学位
    h4.text-center ▼
    img.center-block.img-circle.imgSize(src='http://www.ailibi.com/data/upload/54dad45138264.png' alt='Responsive image')
    h4.text-center  2013年起在广州艾力彼管理顾问有限公司工作
    h4.text-center ▼
    img.center-block.img-circle.imgSize(src='http://ccksb.img44.wal8.com/img44/499357_20141029153158/14296079822.jpg')
    h4.text-center  2013年参与了仙居人民医院绩效项目
    h4.text-center ▼
    img.center-block.img-circle.imgSize(src='http://ts1.mm.bing.net/th?&id=JN.UxbPWdr1tmAwiN1PhAtBAQ&w=300&h=300&c=0&pid=1.9&rs=0&p=0' alt='Responsive image')
    h4.text-center  2014年参与了清远市人民医院绩效项目 
    h4.text-center 独立完成诊断报告,并协助完成方案报告
    h4.text-center ▼
    img.center-block.img-circle.imgSize(src='http://ccksb.img44.wal8.com/img44/499357_20141029153158/142959908583.jpg')
    h4.text-center  2014年参与了清远市第二人民医院文化项目 
    h4.text-center 独立完成诊断报告及方案报告初稿
    h4.text-center ▼
    img.center-block.img-circle.imgSize(src='http://ccksb.img44.wal8.com/img44/499357_20141029153158/142959908777.jpg' alt='Responsive image')
    h4.text-center  2014年参与了佛山市中医院品牌项目  
    h4.text-center 独立完成并汇报诊断报告,以及完成方案报告初稿
    h4.text-center ▼
    img.center-block.img-circle.imgSize(src='http://www.devworx.in/assets/css3.jpg' alt='Responsive image')
    h4.text-center  2014年中旬起开始学习编程语言 ,包括meteor html5 bootstrap 和 jquery
    h4.text-center ▼
    img.center-block.img-circle.imgSize(src='http://img838.ph.126.net/153-L0RB78dGlV8HBhq8bA==/818529232275678069.jpg' alt='Responsive image')
    h4.text-center  主导研建医管信息化产品HQ-share  
    h4.text-center ▼
    //img.center-block.img-circle.imgSize(src='http://img838.ph.126.net/153-L0RB78dGlV8HBhq8bA==/818529232275678069.jpg' alt='Responsive image')
    //h4.text-center  Designed the Structure of HQ-Share, and  help Asiainfo complete it as a cooperation  
    //h4.text-center ▼
    img.center-block.img-circle.imgSize(src='http://yq.0577job.com/files/o/attach/xupload/month_1206/201206021653187997.jpg' alt='Responsive image')
    h4.text-center  未来，希望能在跨界领域一展所长
  .theme   